.square {
    height: 500px;
    width: 500px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-left: 35%;
    margin-top: 5%;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background-color: rgb(0, 109, 82);
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    outline:none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  
}

button:hover{
    background-color: rgb(0, 63, 42)
}

body{
    background-image: linear-gradient(to right, rgb(91, 91, 240),rgb(162, 64, 219))
}

.quizbowl{
margin-top:10%
}

h1, .score, .input-container, .submit-button {
    margin: 40px 0;
}
