.outer-box{
    background-color: rgb(231, 231, 231);
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:7px;
    
}

body{
    background-image: linear-gradient(to right, rgb(91, 91, 240),rgb(162, 64, 219))
}

.quizbowl{
margin-top:10%
}

h1, .score, .input-container, .submit-button {
    margin: 20px 0;
}